body {
  background-color: #101E2C;
}

#header {
  text-align: center;
  color: white;

}

ul {
  display: flex;
  margin: 10px auto;
}

ul.menu {
  width: 50%;
  padding: 10px 20px;
  list-style: none;

}

.menu li {

  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 10px;
}

.menu li a {
  text-decoration: none;
  color: #7b7d80;
  text-transform: uppercase;
}

.dmenu {
  display: inline;
}